@{
  ViewBag.Title = "Table Samples";
}

<style type="text/css">
  .list-group-item {
    font-size: 1.2em;
  }
</style>

<div class="well well-sm">
  <h2>Bootstrap Table Samples</h2>
  <p>
    These samples illustrate how to work with tables; loading, paging, sorting and server-side paging/sorting.
  </p>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group">
        <h3>Loading and Sorting Samples</h3>
        <a class="list-group-item" href="/TableSamples/Table01">1. Loading a Table</a>
        <a class="list-group-item" href="/TableSamples/Table02">2. Sorting a Table</a>
      </div>
    </div>

    <div class="list-group">
      <div class="list-group">
        <h3>Pager Samples</h3>
        <a class="list-group-item" href="/PagerSamples/Pager01">3. Hard Coded Pager</a>
        <a class="list-group-item" href="/PagerSamples/Pager02">4. Data Driven Pager</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group">
        <h3>Tables with Paging Samples</h3>
        <a class="list-group-item" href="/TableSamples/Table03">5. Paging using C#</a>
        <a class="list-group-item" href="/TableSamples/Table04">6. Server-Side Paging</a>
      </div>
    </div>

    <div class="list-group">
      <div class="list-group">
        <h3>Tables with Paging and Sorting Samples</h3>
        <a class="list-group-item" href="/TableSamples/Table05">7. Paging and Sorting using C#</a>
        <a class="list-group-item" href="/TableSamples/Table06">8. Paging and Sorting on Server</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group">
        <h3>Full Add/Edit/Delete Sample</h3>
        <a class="list-group-item" href="/MaintenanceSamples/Maintenance01">9. Add/Edit/Delete Sample</a>
      </div>
    </div>
  </div>
</div>
