
@{
    ViewBag.Title = "Data Driven Nav 1";
}

<nav class="navbar navbar-default" role="navigation">

    <div class="container">

        <div class="navbar-header">
            <a href="/Home/Index" class="navbar-brand">
                Home
            </a>
        </div>

        <ul class="nav navbar-nav">

        </ul> 

    </div>

</nav>

