@model BleepModel.Models.Conference

@{
    ViewBag.Title = "Details";
}

<h4><strong>@Model.ConferenceName</strong> - Details</h4>

<table class="table-hover">
    <tr>
        <td>Conference Name:</td>
        <td> <strong> @Model.ConferenceName</strong></td>
    </tr>
</table>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
