@{
  ViewBag.Title = "Pager 1 - Hard Coded";
}

<div class="row">
  <div class="col-md-12 center-block">
    <ul class="pagination pagination-lg">
      <li class="disabled">
        <a href="#"
           title="First Page">
          First
        </a>
      </li>
      <li class="disabled">
        <a href="#"
           title="Previous Page">
          Prev
        </a>
      </li>
      <li class="active">
        <a href="#"
           title="Page 1">
          1
        </a>
      </li>
      <li>
        <a href="#"
           title="Page 2">
          2
        </a>
      </li>
      <li>
        <a href="#"
           title="Page 3">
          3
        </a>
      </li>
      <li>
        <a href="#"
           title="Next Page">
          Next
        </a>
      </li>
      <li>
        <a href="#"
           title="Last Page">
          Last
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12 center-block">
    <ul class="pagination pagination-sm">
      <li class="disabled">
        <a href="#"
           title="First Page">
          &laquo;
        </a>
      </li>
      <li class="disabled">
        <a href="#"
           title="Previous Page">
          &lsaquo;
        </a>
      </li>
      <li class="active">
        <a href="#"
           title="Page 1">
          1
        </a>
      </li>
      <li>
        <a href="#"
           title="Page 2">
          2
        </a>
      </li>
      <li>
        <a href="#"
           title="Page 3">
          3
        </a>
      </li>
      <li>
        <a href="#"
           title="Next Page">
          &rsaquo;
        </a>
      </li>
      <li>
        <a href="#"
           title="Last Page">
          &raquo;
        </a>
      </li>
    </ul>
  </div>
</div>