@model NavbarDataDriven.MenuItemManager1

@{
    ViewBag.Title = "DDM1";
}

@*Navigation Area*@

<nav class="navbar navbar-default navbar-static-top" role="navigation">

    <div class="container">

        <div class="navbar-header">
            <a href="/Home/Index" class="navbar-brand">
                Home
            </a>
        </div>

        <ul class="nav navbar-nav">
            @foreach (NavbarDataDriven.MenuItem1 item in Model.Menus)
            {
                <li>
                    <a href="@item.MenuAction">@item.MenuTitle</a>
                </li>
            }
        </ul>

    </div>

</nav>

<div class="container">
    @Html.Partial("_LoremIpsum")
</div>