
@{
    ViewBag.Title = "Ex3";
}

<h2>Ex3</h2>

@model SamplesData.MusicGenre

@{
    ViewBag.Title = "Drop Down 3 - Bootstrap 'dropdown' Toggle with Separation";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Genre)
    <div class="well">
        <h3>Bootstrap 'dropdown' Toggle with Separation</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="dropdown">
                    <button class="btn btn-primary"
                            id="selectButton">
                        Select a Genre
                    </button>
                    <button class="btn btn-primary"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"
                        id="ulGenres">
                        <li><a href="#">Jazz</a></li>
                        <li><a href="#">Country</a></li>
                        <li><a href="#">Rock</a></li>
                        <li><a href="#">Blues</a></li>
                        <li><a href="#">Alternative Rock</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @*@Html.SubmitButton("Submit")*@
                @Html.ActionLink("Submit", "DDL", "Index")
            </div>
        </div>
    </div>
}

@section scripts
{
    <script>
    $(document).ready(function () {
      $("#ulGenres li a").on("click", function () {
        // Get text from anchor tag
        var text = $(this).text();
        // Put text into Select button
        $("#selectButton").text(text);
        // Put text into hidden field from model
        $("#Genre").val(text);
      });

      // Find previously selected Genre
      var text = $("#Genre").val();
      if (text != "") {
        $("#selectButton").text(text);
      }
    });
    </script>
}
