
@model SamplesData.MusicGenre

@{
    ViewBag.Title = "Drop Down 4 - Disabled Submit Button";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Genre)
    <div class="well">
        <h3>Disabled Submit Button</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="dropdown">
                    <button class="btn btn-primary"
                            id="selectButton"
                            data-toggle="dropdown">
                        Select a Genre
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu"
                        id="ulGenres">
                        <li><a href="#">Jazz</a></li>
                        <li><a href="#">Country</a></li>
                        <li><a href="#">Rock</a></li>
                        <li><a href="#">Blues</a></li>
                        <li><a href="#">Alternative Rock</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @*@Html.SubmitButton("Submit", "Submit", true)*@
                @Html.ActionLink("Submit", "DDL", "Index")
            </div>
        </div>
    </div>
}

@section scripts
{
    <script>
    $(document).ready(function () {
      $("#ulGenres li a").on("click", function () {
        // Get text from anchor tag
        var text = $(this).text();
        // Add text and caret to the Select button
        $("#selectButton").html(text + '&nbsp;<span class="caret"></span>');
        // Put text into hidden field from model
        $("#Genre").val(text);
        // Remove disabled class from submit button
        $("#Submit").removeClass('disabled');
      });

      // Find previously selected Genre
      var text = $("#Genre").val();
      if (text != "") {
        $("#selectButton").html(text + '&nbsp;<span class="caret"></span>');
        $("#Submit").removeClass('disabled');
      }
    });
    </script>
}




