
@{
    ViewBag.Title = "ReadmeBox";
}

<h2>Readme Box</h2>

<link href="~/Content/PDSA-Readme-Box.css" rel="stylesheet" />

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="pdsa-readme-box">
            <div class="readme-header">
                <i class="fa fa-2x fa-bus"></i>
            </div>
            <div class="readme-body">
                <h1>Free Delivery</h1>
                <p>
                    Order today and we will pay for your shipping. Offer valid on any order over $25.
                </p>
            </div>
            <div class="readme-footer">
                <a href="#">
                    <i class="fa fa-2x fa-plus"></i> Read More...
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3">
        <div class="pdsa-readme-box pdsa-readme-box-info">
            <div class="readme-header">
                <i class="fa fa-2x fa-hacker-news"></i>
            </div>
            <div class="readme-body">
                <h1>Free Delivery</h1>
                <p>
                    Order today and we will pay for your shipping. Offer valid on any order over $25.
                </p>
            </div>
            <div class="readme-footer">
                <a href="#">
                    <i class="fa fa-2x fa-plus"></i> Read More...
                </a>
            </div>
        </div>
    </div>
</div>
